<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/empLayout}">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta charset="UTF-8">
<title>社員情報変更</title>
</head>
<body>
<div class="header">
		<img src="images/logo1.jpg" width="5%" />&nbsp;&nbsp;&nbsp;[[#{title}]]
	</div>
<div layout:fragment="content">
		<h1 align="center" th:text=#{empChange}></h1>
		<div id="div1">
			<form action="/login">
				<input type="submit" th:value="#{logout}" class="btn btn-warning"></input>
			</form>
		</div>
		<div align="center">
			<form method="post" action="/changeEmp" th:object="${empForm}">
				
				<table class="addTable">
				 <tr id="show" style="color: red" 
				 	th:inline="text" th:each="error : ${updateerror}">
					<td colspan="3" style="line-height: 15px">[[${error.defaultMessage}]]</td>
				</tr> 
				
					<tr>
						<td th:text="#{empCd}"></td>
						<td><input type="text" class="form-control" id="empCd"
							name="empCd" value=""  th:field="*{empCd}"  readonly /></td>
						<td th:text="#{need}"></td>
					</tr>
					
					<tr>
						<td th:text="#{empName}"></td>
						<td><input type="text" class="form-control" id="name"
							name="name" value=""   th:field="*{name}" /></td>
						<td th:text="#{need}"></td>
					</tr>
					<!-- <tr><td>
					<div class="text-danger" 
						th:errors="*{empName}" > 
						</div>
					</td> </tr> -->
					
					
					<tr>
						<td th:text="#{gender}"></td>
						<td><select th:field="*{genderCd}" class="form-control">
								<option value=""></option>
								<option th:each="gender:${session.genderList}"
									th:value="${gender.genderCd}" 
									th:text="${gender.genderName}"></option>
								
						<!-- <option value="01">女性</option>
								<option value="02">男性</option>
								<option value="03">不明</option> -->		
						</select></td>
						<td th:text="#{need}"></td>
					</tr>
					<!-- <tr><td>
					<div class="text-danger" 
						th:errors="*{gender}" > 
						</div>
					</td> </tr> -->
					
					<tr>
						<td th:text="#{birthday}"></td>
						<td><input type="date" class="form-control" id="birthday"
							name="birthday"  value=""  th:field="*{birthday}" /></td>
						<td th:text="#{need}"></td>
					</tr>
					<!-- <tr><td>
					<div class="text-danger" 
						th:errors="*{birthday}" > 
						</div>
					</td> </tr> -->
					
					<tr>
						<td th:text="#{nationality}"></td>
						<td><select th:field="*{nationalityCd}" class="form-control">
								<option value=""></option>
								<option th:each="n:${session.nationalityList}"
									th:value="${n.nationalityCd}" 
									th:text="${n.nationalityName}"></option>
							
						<!-- <option value="001">中国</option>
								<option value="002">日本</option>
								<option value="003">アメリカ</option>
								<option value="004">カナダ</option>
								<option value="005">イギリス</option> -->	
						</select></td>
						<td th:text="#{need}"></td>
					</tr>
					<!-- <tr><td>
					<div class="text-danger" 
						th:errors="*{nationality}" > 
						</div>
					</td> </tr> -->
					
				</table>
				<br>
			<div align="center">				
				<input type="submit" class="btn btn-primary"  th:value="#{confirm}"></input>
				<!--<input type="reset" class="btn btn-primary"  th:value="#{cancel}"></input>  -->
				
				<input type="button"  class="btn btn-primary"  th:value="#{back}" 
				 onClick="window.location.href='/emplist'">
			</div>
			</form>
		</div>
		<div id="aligncenter" style="color: red">
			<p th:text="${message}"></p>
		</div>
	</div>


</body>
<div class="copyright">[[#{footer}]]</div>
</html>