<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{common/empLayout}">
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta charset="UTF-8">
<title>登録画面</title>
</head>
<body>
	<div class="header">
		<img src="images/logo1.jpg" width="5%" />&nbsp;&nbsp;&nbsp;[[#{title}]]
	</div>
	<br>
	<div layout:fragment="content">
		<h1  align="center" th:text="#{login}"  ></h1>
    	<div id="typein" align="center" >
			<form method="post" action="/auth" th:object="${form}">
			<br>
			<br>
			<table>
			
			<tr th:inline="text" th:each="message : ${errorList}">
					<!-- [[${message.defaultMessage}]] -->
					<td></td>
				</tr> 
				
				
				<tr>	
					<td>
					<p th:text="#{userid}" 
					class="text-primary" style="font-size:25px"></p>
					</td>
				</tr>
				<tr>
					<td>
					<input type="text" class="form-control" 
						name="accountId" value="" size="40"
						th:field="*{accountId}"
						th:placeholder="#{login.userid.placeholder}"  
						onkeydown="eraseinfo();" id="accountId">
					<div class="text-danger" 
						th:errors="*{accountId}" > 
					</div>
					</td>
				</tr>
				
				<tr>
					<td></td>
				</tr>
				<tr>
					<td><p class="text-primary" style="font-size:25px" 
					th:text="#{password}"></td>
				</tr>
				<tr>
					<td>
					<input type="password"  class="form-control"
					 	name="password" value="" size="40"
						th:field="*{password}"
						maxlength="6" onkeydown="eraseinfo();"
						 id="password">
					<div class="text-danger"  
						 th:errors="*{password}" > 
					</div>
					</td>
			</table>
			<input type="submit"  class="btn btn-primary" 
					th:attr="value=#{login}"><br>
				<div id="show" style="color: red">
			    	<!-- エラーメッセージの表示 -->
					<p th:text="${message}"></p>
				</div>
			
			
			</form>
		</div>
	</div>


</body>
<div class="copyright">[[#{footer}]]</div>
</html>
